.bundle
.DS_Store
.powrc
.*.sw*
*.zach
*~
dump.rdb
db/*.sqlite3
log/*.log
log/*.log.*
log/*.lck
chromedriver.log
tmp/
.sass-cache/
/.idea
/config/database.yml
/coverage
/*.html
/public/assets
/public/uploads
/public/rspec-uploads
/public/dev-uploads
/spec/javascripts/fixtures
/spec/fixtures/*.yml
/solr/data
/solr/pids
/nbproject
config/database.yml.mysql
config/database.yml.pgsql
